<component name="ArtifactManager">
  <artifact type="war" name="spring-lab-09-start:war">
    <output-path>$PROJECT_DIR$/lab09/start/target</output-path>
    <root id="archive" name="spring-lab-09-start-1.0.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-lab-09-start:war exploded" />
    </root>
  </artifact>
</component>